name: los_hambrientos
description: A new Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  cached_network_image: ^3.2.1
  google_fonts: ^2.3.2
  firebase_auth: ^3.3.18
  firebase_core: ^1.17.0
  font_awesome_flutter: ^10.1.0
  modal_bottom_sheet: ^2.0.1
  flutter_layout_grid: ^2.0.1
  flutter_rating_bar: ^4.0.1
  flutter_riverpod: ^1.0.4
  go_router: ^3.1.0
  build_runner: ^2.1.11
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0


flutter:

  uses-material-design: true
  # Enable generation of localized Strings from arb files.
  generate: true
